[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_lru_scan_depth = 256
server_id = 1
log-bin=master
binlog_format=row